---
import Layout from "../../../layouts/Layout.astro";
import i18next, { t } from "i18next";
import { filterTemplates, TemplateFrontmatter } from "../../../utilities/templates";
import Assistant from "../../../components/Assistant";

export async function getStaticPaths() {
    const templates = filterTemplates(await Astro.glob<TemplateFrontmatter>("../../../../data/templates/*/*.md"), i18next.language)

    return templates.map((template) => {
        const name = template.file.split("/").pop().split(".").shift()

        return {params: {template: name}}
    })
}

const { template } = Astro.params;

const templates = await Astro.glob<TemplateFrontmatter>("../../../../data/templates/*/*.md");
const my_template = templates.filter(current => {
    return current.file.endsWith(`${i18next.language}/${template}.md`)
})[0]

const placeholders = my_template.frontmatter.placeholders
const rawContent = my_template.rawContent().trim()

let txtContent = rawContent

Object.keys(placeholders).forEach(placeholderKey => {
    const placeholder = placeholders[placeholderKey]
    txtContent = txtContent.replaceAll(`{{${placeholderKey}}}`, "["+placeholder.placeholder.toUpperCase()+"]")
});
---

<Layout>
    <h1>{my_template.frontmatter.name}</h1>

    <h2>Online Ausfüllen</h2>

    <noscript>Der Ausfüll-Assistent benötigt JavaScript. Bitte erlaube JavaScript für unsere Seite oder verwende die rohe Vorlage unten!</noscript>
    <Assistant client:only="preact" placeholders={placeholders} rawContent={rawContent} />
    
    <h2>Rohes Template</h2>

    <textarea readonly="yes">{txtContent}</textarea>
</Layout>
