---
import { Image } from '@astrojs/image/components';
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import logo from '../assets/HH-Werbefrei_Logo-04.png';
import Card from "../components/Card.astro";
import { Trans } from "astro-i18next/components";
import i18next, { t } from "i18next";
import { extractTemplateName, filterTemplates, TemplateFrontmatter } from '../utilities/templates';

const templates = filterTemplates(await Astro.glob<TemplateFrontmatter>("../../data/templates/*/*.md"), i18next.language)

changeLanguage("de");
---

<Layout title={t("home.title")}>
	<main>
		<Image src={logo} alt="Hamburg Werbefrei" width={200} />
		<h1>{t("home.name")}</h1>
		<p>{ t("home.text_1") }</p>
		<p>{ t("home.text_2") }</p>

		<h2>Wähle eine Vorlage</h2>

		<div>
			{
				templates.map((template) => {
					const name = extractTemplateName(template)

					return <a href={"/template/"+name}>{template.frontmatter.name}</a>
				})
			}
		</div>
	</main>
</Layout>

<style lang="scss">
	@import "../_globals.scss";

	
</style>
