---
import "@fontsource/nunito-sans";
import i18next, { t } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

export interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title||t("site.meta.title_default")}</title>
		<meta name="description" content={description||t("site.meta.description_default")} />
		<HeadHrefLangs />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global lang="scss">
	@import "../_globals.scss";
	
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: $fontDefault;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
